@import 'bootstrap/dist/css/bootstrap';

.nav-bg {
  background-color: #e3f2fd;
}

#home-container {
  margin-top: 25px;
  margin-bottom: 25px; 
}

.home-content {
  background-image: asset-url('retrosupply-jLwVAUtLOAQ-unsplash.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lead {
  font-size: 22px;
}

html, body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}
